.tableControlsWrapper,
.tableFooterControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entriesControl {
  align-self: flex-start;
}

.tableSearchControl {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.tableSearchControl input {
  height: 20px;
  margin-left: 10px;
}

.table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

.th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.tr:hover {
  background-color: #f5f5f5;
}

.tableFooterControls {
  margin-top: 10px;
}
